<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Nacho Roca Social Media</name>

  <description>
      Aplicación para informar sobre los servicios que ofrece una empresa de marketing online.
  </description>

  <author href="http://infonachoroca.wix.com/misitio" email="infonachoroca@gmail.com">
      Nacho Roca Social Media
  </author>
  
 <platform name="android" />

</widget>
